.gridCenter {
  display: flex;
  justify-content: center;
}

.gridPay {
  border: 2px solid black;
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80%;
  margin: 3em;
}

.blackLine {
  grid-area: 2 / 1 / 3 / 8;
  background-color: black;
  min-height: 3em;
}

.cvv {
  grid-area: 3 / 6 / 4 / 7;
  display: flex;
  gap: 0.3em;
  padding: 1em;
  align-items: center;
}

.textCvv {
  text-transform: uppercase;
  padding: 0.2em;
}

.number {
  grid-area: 4 / 2 / 5 / 6;
  max-width: 100%;
}

.partsOfNumber {
  display: flex;
  gap: 0.3em;
  flex-direction: row;
}

.part {
  flex: 1;
  width: 5em;
  height: 2em;
  text-align: center;
  max-width: 6vw;
}

.fullName {
  grid-area: 6 / 2 / 7 / 5;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  flex-wrap: wrap;
}

.textName {
  padding: 0.2em;
  font-size: 1.2em;
}

.partF {
  height: 2em;
  flex: 1;
  width: 8em;
  height: 2em;
  text-align: center;
  max-width: 10vw;
}

.expireDate {
  grid-area: 5 / 5 / 6 / 7;
  display: flex;
  gap: 0.3em;
  font-size: 2em;
  flex-direction: row;
}

.expirePart {
  flex: 1;
  width: 3em;
  height: 2em;
  text-align: center;
  max-width: 6vw;
}

.modalPage{
  z-index: 12;}