.shopCart{
    position: absolute;
    top: 14vh;
    right: 3vw;
    width: 450px;
    min-height: 100px;
    background: #fafafa;
    -webkit-box-shadow: 5px 4px 7px -1px rgba(0,0,0,0.67); 
    box-shadow: 5px 4px 7px -1px rgba(0,0,0,0.67);
    z-index: 10000;
    display: flex;
    flex-direction: column;
}


.footerCart{
    margin: 1rem;
    text-align: right;
}


.basket{
    color: black;
    padding: 0 1em;    
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em;
    
}

.basketFlex{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.col-2.text-right{
    
    flex: auto;
    text-align: right;
    
    
}

.imgCol{
    width: 1rem;
    flex: 1;
}